Delete From P_Materails

SET   IDENTITY_INSERT   P_Materails   ON
--set   nocount   on   select   'insert   P_Materails(R_ID,M_ID,M_Name,M_PY,M_Unit,M_Price,M_PrePValue,M_PrePTime,M_Memo)   values('as   '--',R_ID,',',''''+M_ID+'''',',',''''+M_Name+'''',',',''''+M_PY+'''',',',''''+M_Unit+'''',',',M_Price,',',''''+M_PrePValue+'''',',',M_PrePTime,',',''''+M_Memo+'''',')'   from   P_Materails
--                                                                                                 R_ID                                                                                                                                                                                                                                                                 M_Price                                                M_PrePTime                                                            
-------------------------------------------------------------------------------------------------- ----------- ---- ---------------------------------- ---- ---------------------------------------------------------------------------------- ---- ---------------------------------------------------------------------------------- ---- ---------------------- ---- --------------------------------------- ---- ---- ---- ----------- ---- ---------------------------------------------------- ----
insert   P_Materails(R_ID,M_ID,M_Name,M_PY,M_Unit,M_Price,M_PrePValue,M_PrePTime,M_Memo)   values( 1           ,    'FMH-01'                           ,    '粉煤灰'                                                                              ,    NULL                                                                               ,    '吨'                    ,    0.00000                                 ,    'N'  ,    1           ,    ''                                                   )
insert   P_Materails(R_ID,M_ID,M_Name,M_PY,M_Unit,M_Price,M_PrePValue,M_PrePTime,M_Memo)   values( 2           ,    'SGF-1'                            ,    '石膏粉'                                                                              ,    NULL                                                                               ,    '吨'                    ,    0.00000                                 ,    'N'  ,    1           ,    ''                                                   )
insert   P_Materails(R_ID,M_ID,M_Name,M_PY,M_Unit,M_Price,M_PrePValue,M_PrePTime,M_Memo)   values( 3           ,    'SL-01'                            ,    '熟料'                                                                               ,    NULL                                                                               ,    '吨'                    ,    0.00000                                 ,    'N'  ,    1           ,    ''                                                   )

SET   IDENTITY_INSERT   P_Materails   OFF
