Delete From Sys_Menu

--set   nocount   on   select   'insert   Sys_Menu(M_MenuID,M_ProgID,M_Entity,M_PMenu,M_Title,M_ImgIndex,M_Flag,M_Action,M_Filter,M_Popedom,M_NewOrder)   values('as   '--',''''+M_MenuID+'''',',',''''+M_ProgID+'''',',',''''+M_Entity+'''',',',''''+M_PMenu+'''',',',''''+M_Title+'''',',',M_ImgIndex,',',''''+M_Flag+'''',',',''''+M_Action+'''',',',''''+M_Filter+'''',',',''''+M_Popedom+'''',',',M_NewOrder,')'   from   Sys_Menu
--                                                                                                                                                                                                                                                                                     M_ImgIndex                                                                                                                                                                                                   M_NewOrder             
-------------------------------------------------------------------------------------------------------------------------------- ----------------- ---- ----------------- ---- ----------------- ---- ----------------- ---- ---------------------------------------------------- ---- ----------- ---- ---------------------- ---- ---------------------------------------------------- ---- ---------------------------------------------------- ---- -------------------------------------- ---- ---------------------- ----
insert   Sys_Menu(M_MenuID,M_ProgID,M_Entity,M_PMenu,M_Title,M_ImgIndex,M_Flag,M_Action,M_Filter,M_Popedom,M_NewOrder)   values( ''                ,    'ZXSOFT'          ,    ''                ,    NULL              ,    '水泥销售系统'                                             ,    NULL        ,    NULL                   ,    NULL                                                 ,    NULL                                                 ,    NULL                                   ,    0                      )
insert   Sys_Menu(M_MenuID,M_ProgID,M_Entity,M_PMenu,M_Title,M_ImgIndex,M_Flag,M_Action,M_Filter,M_Popedom,M_NewOrder)   values( ''                ,    'ZXSOFT'          ,    'MAIN'            ,    NULL              ,    '主菜单'                                                ,    NULL        ,    NULL                   ,    NULL                                                 ,    NULL                                                 ,    NULL                                   ,    0                      )
insert   Sys_Menu(M_MenuID,M_ProgID,M_Entity,M_PMenu,M_Title,M_ImgIndex,M_Flag,M_Action,M_Filter,M_Popedom,M_NewOrder)   values( 'A00'             ,    'ZXSOFT'          ,    'MAIN'            ,    ''                ,    '系统设置'                                               ,    -1          ,    'NB'                   ,    ''                                                   ,    ''                                                   ,    NULL                                   ,    0                      )

