Delete From P_Provider

SET   IDENTITY_INSERT   P_Provider   ON
--set   nocount   on   select   'insert   P_Provider(R_ID,P_ID,P_Name,P_PY,P_Phone,P_Saler,P_Memo)   values('as   '--',R_ID,',',''''+P_ID+'''',',',''''+P_Name+'''',',',''''+P_PY+'''',',',''''+P_Phone+'''',',',''''+P_Saler+'''',',',''''+P_Memo+'''',')'   from   P_Provider
--                                                                          R_ID                                                                                                                                                                                                                                                                                                                                                              
--------------------------------------------------------------------------- ----------- ---- ---------------------------------- ---- ---------------------------------------------------------------------------------- ---- ---------------------------------------------------------------------------------- ---- ---------------------- ---- ---------------------------------- ---- ---------------------------------------------------- ----
insert   P_Provider(R_ID,P_ID,P_Name,P_PY,P_Phone,P_Saler,P_Memo)   values( 1           ,    '001'                              ,    '融达'                                                                               ,    'rd'                                                                               ,    ''                     ,    ''                                 ,    ''                                                   )
insert   P_Provider(R_ID,P_ID,P_Name,P_PY,P_Phone,P_Saler,P_Memo)   values( 2           ,    '002'                              ,    '恒固'                                                                               ,    'hg'                                                                               ,    ''                     ,    ''                                 ,    ''                                                   )
insert   P_Provider(R_ID,P_ID,P_Name,P_PY,P_Phone,P_Saler,P_Memo)   values( 3           ,    '003'                              ,    '万豪'                                                                               ,    'wh'                                                                               ,    ''                     ,    ''                                 ,    ''                                                   )

SET   IDENTITY_INSERT   P_Provider   OFF
