--set   nocount   on   select   'insert   Sys_DataDict(D_ItemID,D_Entity,D_Title,D_Align,D_Width,D_Index,D_Visible,D_DBTable,D_DBField,D_DBIsKey,D_DBType,D_DBWidth,D_DBDecimal,D_FmtStyle,D_FmtData,D_FmtFormat,D_FmtExtMemo,D_FteDisplay,D_FteFormat,D_FteKind,D_FtePositon)   values('as   '--',D_ItemID,',',''''+D_Entity+'''',',',''''+D_Title+'''',',',D_Align,',',D_Width,',',D_Index,',',D_Visible,',',''''+D_DBTable+'''',',',''''+D_DBField+'''',',',D_DBIsKey,',',D_DBType,',',D_DBWidth,',',D_DBDecimal,',',D_FmtStyle,',',''''+D_FmtData+'''',',',''''+D_FmtFormat+'''',',',''''+D_FmtExtMemo+'''',',',''''+D_FteDisplay+'''',',',''''+D_FteFormat+'''',',',D_FteKind,',',D_FtePositon,')'   from   Sys_DataDict
--                                                                                                                                                                                                                                                      D_ItemID                                                                                          D_Align      D_Width          D_Index          D_Visible                                                                                      D_DBIsKey      D_DBType      D_DBWidth      D_DBDecimal      D_FmtStyle                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  D_FteKind      D_FtePositon 
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ----------- ---- ------------------------------------- ---- -------------------------------- ---- ------- ---- ----------- ---- ----------- ---- --------- ---- ---------------------------------- ---- ---------------------------------- ---- --------- ---- -------- ---- --------- ---- ----------- ---- ---------- ---- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ---- ------------------------------------------------------------------------------------------------------ ---- ------------------------------------------------------------------------------------------------------ ---- ---------------------------------------------------- ---- ---------------------------------------------------- ---- --------- ---- ------------ ----

